.advantages {
  padding: 28px 0 20px 0;

  @include tablet {
    padding-top: 52px;
    padding-bottom: 29px;
  }

  @include desktop {
    width: 700px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 34px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;

  @include tablet {
    margin-bottom: 48px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include mobile-wide {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include tablet {
    padding: 0;
  }
}

.advantages__item {
  width: 215px;
  margin-bottom: 27px;
  padding-top: 56px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  background-repeat: no-repeat;

  @include mobile-wide {
    margin-right: 20px;
  }

  @include tablet {
    width: 334px;
    margin-right: 0;
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 22px;
  }

  @include desktop {
    width: 350px;
    margin-bottom: 55px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--ecology {
    background-image: url("../img/icon-feature-flower.svg");
    background-position-x: 9px;
  }

  &--style {
    background-image: url("../img/icon-feature-money.svg");
    background-position-y: 2px;

    @include tablet {
      order: 2;
    }
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 7px;

    @include tablet {
      order: 4;
    }
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 2px 6px;

    @include tablet {
      order: 1;
    }
  }

  &--support {
    width: 260px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -2px 5px;

    @include mobile-wide {
      width: 215px;
    }

    @include tablet {
      order: 3;
      width: 334px;
    }

    @include desktop {
      width: 350px;
    }
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 4px 5px;

    @include tablet {
      order: 5;
    }
  }
}
