.card {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  padding: 0;

  @include tablet {
    max-width: none;
  }

  @include desktop {
    width: 315px;
    flex-direction: column;
  }
}

.card__link {
  display: block;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.card__image {
  display: block;
  width: 260px;
  height: auto;
  overflow: hidden;

  @include tablet {
    width: 334px;
  }

  @include desktop {
    width: 316px;
  }
}

.card__title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;

  @include tablet {
    width: 240px;
    font-size: 20px;
  }
}

.card__wrapper {
  position: relative;
  width: 100%;
  padding: 24px 27px 0 27px;
  border: 1px solid #ececec;
  overflow: hidden;

  @include tablet {
    display: flex;
    flex-direction: column;
    width: 334px;
    min-height: 333px;
    padding-top: 25px;
    padding-bottom: 28px;
  }

  @include desktop {
    flex-grow: 1;
    width: 315px;
    min-height: 197px;
    padding-left: 25px;
  }
}

.card__description {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  @include tablet {
    margin-top: 6px;
    font-size: 15px;
  }

  @include desktop {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.card__order {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 23px;
  padding-bottom: 30px;
  border-top: 1px solid #ececec;

  @include tablet {
    flex-direction: row;
    margin-top: auto;
    padding: 25px 3px 0 5px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 3px;
  }
}

.card__price {
  width: 170px;
  margin: 0;
  padding-right: 30px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;

  @include tablet {
    width: 100px;
    padding-right: 0;
    font-size: 17px;
  }
}

.card__button {
  align-self: center;
  width: 21px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: rgba(35, 31, 32, 0.2);

  &:hover,
  &:focus {
    fill: #63d1bb;
  }
  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}
