.copyright {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 10px 25px;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
}

.copyright__link {
  margin-left: 30px;
  padding-top: 2px;
  &:hover,
  &:focus {
    .copyright__icon {
      fill: #46c1ae;
    }
  }
  &:active {
    .copyright__icon {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
  &:active + .copyright__text {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__icon {
  fill: #63d1bb;
}
