.knitwork-entry {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  list-style: none;
}

.knitwork-entry--phone,
.knitwork-entry--mail {
  position: relative;
  padding-bottom: 10px;
}

.knitwork-entry__label {
  display: block;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}


.knitwork-entry__input {
  width: 100%;
  margin-bottom: 22px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus {
    border-bottom: 2px solid #62d1ba;
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus::placeholder {
    color: transparent;
  }
}


.knitwork-entry__input--phone,
.knitwork-entry__input--mail {
  padding: 9px 44px 16px 0;

  &:hover + .knitwork-entry__icon,
  &:focus + .knitwork-entry__icon {
    fill: #62d1ba;
  }
}

.knitwork-entry__icon {
  position: absolute;
  top: 5px;
  right: 9px;
  fill: rgba(0, 0, 0, 0.2);
}
