.knitwork__wrapper {
  @include tablet {
    background-color: #f1f1f1;
  }
}

.knitwork__description {
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0 30px;
  padding-top: 23px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @include tablet {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    width: 760px;
    padding-left: 30px;
  }
}

.knitwork__legend {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
  overflow: hidden;
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  color: #63d1bb;
  text-transform: uppercase;
  background-color: #ffffff;

  @include tablet {
    align-self: flex-start;
    width: 167px;
    padding-top: 3px;
    background-color: transparent;
  }

  @include desktop {
    width: 166px;
    margin-right: 10px;
    text-align: center;
  }

  &::after {
    content: "";
    z-index: -1;
    display: inline-block;
    width: 768px;
    height: 1px;
    margin-right: -768px;
    margin-left: 20px;
    vertical-align: middle;
    background-color: #63d1bb;

    @include tablet {
      display: none;
    }
  }
}

.knitwork__legend--color,
.knitwork__legend--name {
  margin-bottom: 29px;

  @include tablet {
    padding-top: 0;
  }
}

.knitwork__legend--name {
  @include tablet {
    padding-top: 10px;
  }
}

.knitwork__legend--comment {
  margin-bottom: 7px;

  @include tablet {
    padding-top: 16px;
  }
}

.knitwork__legend--phone,
.knitwork__legend--mail {
  margin-bottom: 15px;

  @include tablet {
    margin-top: 14px;
    margin-bottom: 15px;
  }

  @include desktop {
    margin-top: 17px;
    padding-left: 10px;
  }
}

.knitwork__legend--phone {
  @include desktop {
    margin-left: -5px;
    margin-right: 15px;
    padding-left: 0;
  }
}

.knitwork__field {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;

  @include tablet {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 56px;
    padding-bottom: 13px;
  }

  @include desktop {
    width: 1150px;
    padding-top: 56px;
  }
}

.knitwork__field--type {
  @include tablet {
    padding-bottom: 0;
  }
}

.knitwork__field--color {
  @include tablet {
    position: relative;
    padding-top: 66px;
    padding-bottom: 5px;
    background-color: #f1f1f1;
  }

  @include desktop {
    padding-top: 67px;
  }
}

.knitwork__field--name {
  @include desktop {
    padding-bottom: 7px;
  }
}

.knitwork__field--phone,
.knitwork__field--mail {
  @include tablet {
    align-items: baseline;
    padding-top: 43px;
    background-color: #f1f1f1;
  }

  @include desktop {
    padding-top: 48px;
  }
}

.knitwork__field--mail {
  @include tablet {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.knitwork__field--comment {
  @include tablet {
    padding-top: 49px;
    padding-bottom: 16px;
  }
}

.knitwork__field--button {
  margin-bottom: 30px;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding-top: 37px;

    @include desktop {
      width: 800px;
      padding-top: 34px;
    }
  }
}

.knitwork__text {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  @include tablet {
    max-width: 350px;
    margin: 0;
    padding-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }
}

.knitwork__button {
  width: 100%;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @include tablet {
    width: 230px;
    margin-bottom: 0;
    padding: 14px 10px 14px 6px;
  }
}
