.knitwork__wrapper {
  @include tablet {
    background-color: #f1f1f1;
  }
}

.knitwork__description {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0 30px;
  padding-top: 23px;
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  color: #444444;

  @include tablet {
    margin: 0 auto;
    margin-bottom: 73px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    width: 700px;
  }
}

.knitwork__legend {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: 23px;
  line-height: 17px;
  font-size: 17px;
  vertical-align: middle;
  color: #63d1bb;
  background-color: #fff;
  text-transform: uppercase;
  overflow: hidden;

  @include tablet {
    align-self: flex-start;
    width: 167px;
    background-color: transparent;
  }

  @include desktop {
    width: 166px;
    margin-right: 10px;
    text-align: center;
  }

  &::after {
    content: "";
    z-index: -1;
    display: inline-block;
    width: 768px;
    height: 1px;
    margin-right: -768px;
    margin-left: 25px;
    vertical-align: middle;
    background-color: #63d1bb;

    @include tablet {
      display: none;
    }
  }
}

.knitwork__legend--phone,
.knitwork__legend--mail {
  @include tablet {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.knitwork__field {
  padding: 0 30px;

  @include tablet {
    display: flex;
    padding: 0 50px;
    padding-top: 56px;
    padding-bottom: 13px;
    width: 768px;
    margin: 0 auto;
  }

  @include desktop {
    width: 1150px;
  }
}

.knitwork__field--color {
  @include tablet {
    position: relative;
    padding-top: 64px;
    padding-bottom: 11px;
    background-color: #f1f1f1;
  }
}

.knitwork__field--phone,
.knitwork__field--mail {
  @include tablet {
    align-items: baseline;
    padding-top: 50px;
    background-color: #f1f1f1;
  }
}

.knitwork__field--mail {
  @include tablet {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.knitwork__field--button {
  margin-bottom: 30px;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include desktop {
      width: 800px;
    }
  }
}

.knitwork__text {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444;

  @include tablet {
    max-width: 350px;
    margin: 0;
    padding-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }
}

.knitwork__button {
  width: 100%;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;

  @include tablet {
    width: 230px;
    margin: 0;
    padding: 16px 10px 16px 6px;
  }
}
