.logo {
  display: block;
  width: 100%;
  padding: 22px 5px 22px 0;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  @include tablet {
    width: 371px;
    padding-bottom: 19px;
    padding-left: 50px;
    border-top: none;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  }

  @include desktop {
    width: 310px;
    padding: 10px 5px 6px 57px;
  }
}

.logo--footer {
  width: 102px;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  border: none;

  &:hover[href],
  &:focus[href] {
    .logo__image--footer {
      fill: #46c1ae;
    }
  }
  &[href]:active {
    .logo__image--footer {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}


.logo__link {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @include tablet {
    width: 112px;
    height: 46px;
  }

  @include desktop {
    width: 155px;
    height: 72px;
  }
}

.logo__image {
  @include tablet {
    width: 112px;
    height: 46px;
  }

  @include desktop {
    width: 155px;
    height: 72px;
  }
}
