.menu {
  width: 100%;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ffffff;

  @include tablet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}

.menu--site {
  @include tablet {
    width: 334px;
  }

  @include desktop {
    width: 440px;
  }
}

.menu--user {
  @include tablet {
    width: 397px;
  }

  @include desktop {
    width: 400px;
  }
}

.menu--special {
  display: none;

  @include desktop {
    display: flex;
    justify-content: flex-start;
    width: 700px;
    background-color: transparent;
  }
}

.menu__item {
  border-bottom: 1px solid #ececec;
}

.menu__item--site {
  @include tablet {
    width: 167px;
    background-color: #f9f9f9;
    border: none;
  }

  @include desktop {
    width: 206px;
    padding-left: 37px;
    background-color: #ffffff;
    border-right: 1px solid rgba(68, 68, 68, 0.1);
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);

    &:last-child {
      border-right: none;
    }
  }
}

.menu__item--user {
  @include tablet {
    width: 314px;
    padding-right: 50px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
    border-left: 1px solid rgba(68, 68, 68, 0.1);
  }
}

.menu__item--catalog {
  @include desktop {
    width: 234px;
    padding-left: 50px;
  }
}

.menu__item--search {
  @include tablet {
    width: 82px;
    padding: 0;
  }
}

.menu__item--special {
  width: 219px;
  border-bottom: 0;
}

.menu__link {
  display: block;
  padding: 27px 10px;
  padding-left: 76px;
  text-align: left;
  color: #000000;

  @include mobile-wide {
    width: 320px;
    margin: 0 auto;
  }

  @include tablet {
    width: auto;
    margin: 0;
  }

  &:hover[href],
  &:focus[href] {
    color: rgba(0, 0, 0, 0.6);

    .menu__icon {
      opacity: 1;
      fill: #63d1bb;
    }
  }

  &:active[href] {
    color: rgba(0, 0, 0, 0.3);

    .menu__icon {
      opacity: 0.6;
    }
  }
}

.menu__link--site {
  @include tablet {
    padding-top: 17px;
    padding-left: 0;
    font-size: 15px;
    text-align: left;
  }

  @include desktop {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
    background-color: transparent;
  }
}

.menu__link--gray {
  @include tablet {
    background-color: #f1f1f1;
  }

  @include desktop {
    background-color: transparent;
  }
}

.menu__link--user {
  position: relative;

  @include tablet {
    min-height: 88px;
    padding: 30px 0 28px 10px;
    text-align: right;
  }
}

.menu__link--special {
  padding: 17px 10px 27px 0;
  font-size: 15px;
  text-align: left;
}

.menu__span {
  @include tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}

.menu__icon {
  position: absolute;
  opacity: 0.2;

  &--search {
    top: 32px;
    left: 32px;

    @include tablet {
      top: 36px;
    }
  }

  &--cart {
    top: 31px;
    left: 30px;

    @include tablet {
      top: 34px;
      left: 32px;
    }
  }
}
