.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation__logo {
  @include tablet {
    margin-left: -50px;
    padding-bottom: 19px;
    padding-left: 50px;
  }

  @include desktop {
    order: 2;
    margin-left: 0;
    padding: 10px 5px 6px 57px;
  }
}

.navigation__toggle {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");
  border: none;

  @include tablet {
    display: none;
  }

  @include desktop {
  }
}

.navigation__toggle--off {
  display: none;
}

.navigation__toggle--on {
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
}

.navigation__site {
  margin: 0;

  @include tablet {
    display: block;
    order: 1;
  }

  @include desktop {
    margin-left: -50px;
  }
}

.navigation__user {
  margin: 0;
  @include tablet {
    display: block;
    margin-right: -50px;
  }

  @include desktop {
    order: 3;
    margin-right: -50px;
  }
}

.navigation__special {
  display: none;

  @include desktop {
    display: flex;
    order: 4;
    margin: 0;
  }
}

.navigation__closed {
  display: none;
}

.navigation__text {
  display: none;

  @include tablet {
    position: relative;
    order: 2;
    display: block;
    width: 320px;
    margin: 0;
    margin-left: auto;
    padding: 17px 0 27px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #444444;
  }

  @include desktop {
    order: 5;
  }
}
