.product {
  margin-bottom: 32px;
  padding: 0;
  padding-top: 17px;

  @include tablet {
    margin-bottom: 52px;
    padding: 0;
  }

  @include desktop {
    margin-bottom: 29px;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.product__item {
  margin-bottom: 32px;

  @include mobile-wide {
    margin-left: 20px;
  }

  @include tablet {
    margin-bottom: 54px;
    margin-left: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
