.promo {
  @include tablet {
    position: relative;
    margin-bottom: 100px;
    background-color: #f9f9f9;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: -5px;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 23px;
    }
  }

  @include desktop {
    margin-bottom: 100px;

    &::after {
      left: 10px;
      bottom: 0;
      height: 22px;
      background-size: auto 37px;
    }
  }
}

.promo__tagline {
  min-height: 282px;
  margin: 0;
  padding: 71px 38px 10px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-size: 575px auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @include tablet {
    min-height: 558px;
    padding-top: 84px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position-y: -68px;
    background-size: 1150px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @include desktop {
    min-height: 559px;
    font-size: 53px;
    line-height: 57px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.promo__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include tablet {
    position: relative;
    width: 668px;
  }

  @include desktop {
    width: 1050px;
  }
}
