.promo-unit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include tablet {
    width: 334px;
  }

  @include desktop {
    width: 525px;
  }
}

.promo-unit--interior {
  background-color: #63d1bb;
}

.promo-unit--toys {
  background-color: #56c3b2;
}

.promo-unit__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: rgba(20, 144, 128, 0.5);
}

.promo-unit__icon--interior {
  top: calc(50% + 2px);
  right: 37px;
}

.promo-unit__icon--toy {
  right: 27px;

  @include tablet {
    right: 34px;
  }

  @include desktop {
    right: 36px;
  }
}

.promo-unit__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 27px 95px 28px 29px;
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;

  @include mobile-wide {
    width: 320px;
    margin: 0 auto;
  }

  @include tablet {
    width: 100%;
    margin: 0;
  }

  @include tablet {
    padding: 27px 36px 36px;
  }

  &:hover,
  &:focus {
    top: -5px;
    padding-top: 19px;
    padding-bottom: 40px;

    .promo-unit__icon {
      top: calc(50% - 5px);
      fill: rgba(20, 144, 128, 0.7);
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .promo-unit__icon {
      fill: rgba(20, 144, 128, 0.3);
    }
  }
}

.promo-unit__link--interior {
  background-color: #63d1bb;
}

.promo-unit__link--toys {
  background-color: #56c3b2;
}

.promo-unit__text {
  width: 120px;
  margin: 0;
  padding: 0;
  line-height: 24px;

  @include tablet {
    width: 111px;
    font-size: 20px;
    line-height: 30px;
  }
}
