.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 23px 5px 24px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;

  @include tablet {
    align-items: flex-end;
    width: 300px;
    padding: 0 5px;
    border: none;
  }
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover,
  &:focus {
    .social__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    .social__icon {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}

.social__icon {
  fill: #231f20;
}
