.video {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 22px 0 32px 0;
  border: 1px solid #ececec;

  @include tablet {
    width: 666px;
    max-width: none;
    padding-top: 0;
    padding-bottom: 46px;
  }

  @include desktop {
    display: block;
    width: 370px;
    min-height: 455px;
    margin-bottom: 104px;
    margin-left: 680px;
    padding: 92px 56px 60px 80px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  position: relative;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;

  @include tablet {
    order: 1;
    width: auto;
    margin: 0;
    margin-bottom: 33px;
    padding-left: 105px;
    font-size: 20px;
  }

  @include desktop {
    margin-bottom: 35px;
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 35px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");

    @include tablet {
      top: -5px;
      left: 41px;
    }

    @include desktop {
      top: -52px;
      left: 0;
    }
  }
}

.video__window {
  position: relative;
  width: 260px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #bcc9c9;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @include tablet {
    display: block;
    width: 100%;
    height: 455px;
    margin-bottom: 38px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @include desktop {
    position: absolute;
    top: -1px;
    left: -682px;
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 682px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.video__description {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @include tablet {
    order: 2;
    margin-bottom: 35px;
    padding: 0 39px;
    font-size: 15px;
    line-height: 30px;
  }

  @include desktop {
    margin-bottom: 45px;
    padding: 0;
  }
}

.video__button {
  width: 100%;
  margin: 0 33px;

  @include tablet {
    order: 3;
    width: 584px;
    margin: 0 auto;
  }

  @include desktop {
    width: 230px;
    margin: 0;
  }
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}
